<header class="container redline">
  <div class="container-header greenline">
    <div class="logo">
      <a href=""><img src="./images/header/logo.png" alt="Логотип"/>CUCINA</a>
    </div>
    <nav class="header-nav">
      <ul class="header-list">
        <li class="header-item"><a href="">Home</a></li>
        <li class="header-item"><a href="">Store</a></li>
        <li class="header-item"><a href="">Recipes</a></li>
        <li class="header-item"><a href="">Gallery</a></li>
      </ul>
    </nav>
  
    <button class="header-buttom" type="button">Contact us</button>
  </div>
</header>
