<section class="hero container redline">
  <div class="hero-container greenline1">
    <div class="title-bord">
      <img class="hero-bord" src="../images/hero/vector.svg" alt="" />
      <h1 class="hero-title">CUCINA DI CATHERINA</h1>
    </div>
    <p class="hero-text">
      We know<span class="hero-text-coma">,</span> <br />
      you will <span class="hero-text-love">love</span> our product
    </p>
    <div class="hero-img">
      <ul class="vegetable greenline">
        <li>
          <img class="vegetable1" src="./images/hero/1.svg" alt="" />
        </li>
        <li>
          <img class="vegetable2" src="./images/hero/2.svg" alt="" />
        </li>
        <li>
          <img class="vegetable3" src="./images/hero/3.svg" alt="" />
        </li>
        <li>
          <img class="vegetable4" src="./images/hero/4.svg" alt="" />
        </li>
        <li>
          <img class="vegetable5" src="./images/hero/5.svg" alt="" />
        </li>
        <li>
          <img class="vegetable6" src="./images/hero/6.svg" alt="" />
        </li>
        <li>
          <img class="vegetable7" src="./images/hero/7.svg" alt="" />
        </li>
        <li>
          <img class="vegetable8" src="./images/hero/8.svg" alt="" />
        </li>
      </ul>
      <img
        class="hero-img-ketchup"
        src="./images/hero/ketchup-mob.png"
        alt="Опис картинки"
      />
    </div>
    <button class="hero-buttom" type="button"><a href="">Buy now</a></button>

    <ul class="hero-ingridient">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

    <ul class="social-list">
      <li class="socials-item">
        <a class="social-url" target="_blank" href="https://facebook.com/">
          <svg class="social-svg-icon" width="24" height="24">
            <use href="./images/hero/icon.svg#icon-tumblr"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="social-url" target="_blank" href="https://instagram.com/">
          <svg class="social-svg-icon" width="24" height="24">
            <use href="./images/hero/icon.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a class="social-url" target="_blank" href="https://youtube.com/">
          <svg class="social-svg-icon" width="24" height="24">
            <use href="./images/hero/icon.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>

      <li>
        <a class="social-url" target="_blank" href="https://youtube.com/">
          <svg class="social-svg-icon" width="24" height="24">
            <use href="./images/hero/icon.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
