<section class="product container redline">
  <h2 class="visually-hidden">Products</h2>
  <div class="wrapper greenline">
    <div class="slider">
      <div class="slider__item">
        <picture class="slider-img">
          <source
            media="(min-width: 1020px)"
            srcset="./images/hero/tab-1.jpg"
          />
          <source media="(min-width: 720px)" srcset="./images/hero/mob-1.jpg" />
          <img class="product-circle" src="./images/hero/mob-1.jpg" />
        </picture>
      </div>

      <div class="slider__item">
        <h3 class="slider-title">Classic sauce</h3>
        <p class="slider-text">
          The most delicate taste of tomatoes, combined with branded spices and
          white wine, will make your dish incredibly tasty.
        </p>
        <button class="slider-buttom" type="button">Buy now</button>
      </div>

      <div class="slider__item">
        <h3 class="slider-title">Spicy sauce</h3>
        <p class="slider-text">
          For thrill-seekers, we added hot chili pepper to our sauce, it also
          reveals all the tastes and aromas of the sauce well.
        </p>
        <button class="slider-buttom" type="button">Buy now</button>
      </div>

      <div class="slider__item">
        <picture class="slider-img">
          <source
            media="(min-width: 1020px)"
            srcset="./images/hero/tab-2.jpg"
          />
          <source media="(min-width: 320px)" srcset="./images/hero/mob-2.jpg" />
          <img class="product-circle" src="./images/hero/mob-2.jpg" />
        </picture>
      </div>

      <div class="slider__item">
        <picture class="slider-img">
          <source
            media="(min-width: 1020px)"
            srcset="./images/hero/tab-3.jpg"
          />
          <source media="(min-width: 320px)" srcset="./images/hero/mob-3.jpg" />
          <img class="product-circle" src="./images/hero/mob-3.jpg" />
        </picture>
      </div>

      <div class="slider__item">
        <h3 class="slider-title">Classic sauce</h3>
        <p class="slider-text">
          The most delicate taste of tomatoes, combined with branded spices and
          white wine, will make your dish incredibly tasty.
        </p>
        <button class="slider-buttom" type="button">Buy now</button>
      </div>

      <div class="slider__item">
        <h3 class="slider-title">Spicy sauce</h3>
        <p class="slider-text">
          For thrill-seekers, we added hot chili pepper to our sauce, it also
          reveals all the tastes and aromas of the sauce well.
        </p>
        <button class="slider-buttom" type="button">Buy now</button>
      </div>

      <div class="slider__item">
        <picture class="slider-img">
          <source
            media="(min-width: 1020px)"
            srcset="./images/hero/tab-4.jpg"
          />
          <source media="(min-width: 320px)" srcset="./images/hero/mob-4.jpg" />
          <img class="product-circle" src="./images/hero/mob-4.jpg" />
        </picture>
      </div>

      <div class="slider__item">
        <picture class="slider-img">
          <source
            media="(min-width: 1020px)"
            srcset="./images/hero/tab-5.jpg"
          />
          <source media="(min-width: 320px)" srcset="./images/hero/mob-5.jpg" />
          <img class="product-circle" src="./images/hero/mob-5.jpg" />
        </picture>
      </div>

      <div class="slider__item">
        <h3 class="slider-title">Classic sauce</h3>
        <p class="slider-text">
          The most delicate taste of tomatoes, combined with branded spices and
          white wine, will make your dish incredibly tasty.
        </p>
        <button class="slider-buttom" type="button">Buy now</button>
      </div>

      <div class="slider__item">
        <h3 class="slider-title">Spicy sauce</h3>
        <p class="slider-text">
          For thrill-seekers, we added hot chili pepper to our sauce, it also
          reveals all the tastes and aromas of the sauce well.
        </p>
        <button class="slider-buttom" type="button">Buy now</button>
      </div>

      <div class="slider__item">
        <picture class="slider-img">
          <source
            media="(min-width: 1020px)"
            srcset="./images/hero/tab-6.jpg"
          />
          <source media="(min-width: 320px)" srcset="./images/hero/mob-6.jpg" />
          <img class="product-circle" src="./images/hero/mob-6.jpg" />
        </picture>
      </div>
    </div>
  </div>
</section>
