<section class="product container redline">
  <h2 class="visually-hidden">Products</h2>
  <div class="wrapper">
    <div class="slider">
      <div class="slider__item">
        <img class="slider-img" src="./images/hero/mob-1.jpg" alt="" />
        <h3 class="slider-title filter1">Spicy sauce</h3>
        <button class="slider-buttom" type="button">Buy now</button>
      </div>

      <div class="slider__item">
        <h3 class="slider-title filter2">Classic sauce</h3>
        <button class="slider-buttom" type="button">Buy now</button>
        <img class="slider-img" src="./images/hero/mob-2.jpg" alt="" />
      </div>

      <div class="slider__item ">
        <img class="slider-img" src="./images/hero/mob-3.jpg" alt="" />
        <h3 class="slider-title filter1">Spicy sauce</h3>
        <button class="slider-buttom" type="button">Buy now</button>
      </div>

      <div class="slider__item ">
        <h3 class="slider-title filter2">Classic sauce</h3>
        <button class="slider-buttom" type="button">Buy now</button>
        <img class="slider-img" src="./images/hero/mob-4.jpg" alt="" />
      </div>

      <div class="slider__item ">
        <img class="slider-img" src="./images/hero/mob-5.jpg" alt="" />
        <h3 class="slider-title filter1">Spicy sauce</h3>
        <button class="slider-buttom" type="button">Buy now</button>
      </div>

      <div class="slider__item ">
        <h3 class="slider-title filter2">Classic sauce</h3>
        <button class="slider-buttom" type="button">Buy now</button>
        <img class="slider-img" src="./images/hero/mob-6.jpg" alt="" />
      </div>


      <div class="slider__item ">
        <img class="slider-img" src="./images/hero/mob-1.jpg" alt="" />
        <h3 class="slider-title filter1">Spicy sauce</h3>
        <button class="slider-buttom" type="button">Buy now</button>
      </div>

      <div class="slider__item ">
        <h3 class="slider-title filter2">Classic sauce</h3>
        <button class="slider-buttom" type="button">Buy now</button>
        <img class="slider-img" src="./images/hero/mob-2.jpg" alt="" />
      </div>

      <div class="slider__item ">
        <img class="slider-img" src="./images/hero/mob-3.jpg" alt="" />
        <h3 class="slider-title filter1">Spicy sauce</h3>
        <button class="slider-buttom" type="button">Buy now</button>
      </div>

      <div class="slider__item ">
        <h3 class="slider-title filter2">Classic sauce</h3>
        <button class="slider-buttom" type="button">Buy now</button>
        <img class="slider-img" src="./images/hero/mob-4.jpg" alt="" />
      </div>

      <div class="slider__item ">
        <img class="slider-img" src="./images/hero/mob-5.jpg" alt="" />
        <h3 class="slider-title filter1">Spicy sauce</h3>
        <button class="slider-buttom" type="button">Buy now</button>
      </div>

      <div class="slider__item ">
        <h3 class="slider-title filter2">Classic sauce</h3>
        <button class="slider-buttom" type="button">Buy now</button>
        <img class="slider-img" src="./images/hero/mob-6.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
