.hero {
  max-width: 415px;
  height: 2650px;
}

.hero-title {
  width: 182px;
  color: var(--Genoa, #f3f3f3);

  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 12px;
}

.hero-text {
  width: 200px;
  color: #fff;

  padding-top: 16px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 52px;
}

.hero-text-coma {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.16px;
}

.hero-text-love {
  color: var(--Main-color-red, #bc1a1a);

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.hero-bord {
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: var(--Genoa, #f3f3f3);
}

.title-bord {
  display: flex;
  padding-top: 40px;
}

.hero-ingridient-bord {
  height: 78px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: var(--Genoa, #f3f3f3);
}

.social-svg-icon {
  height: 24px;
  width: 24px;
  fill: #f3f3f3;
}

.vegetable {
  width: 302px;
  height: 177px;
  /* transform: rotate(-8.757deg); */
  flex-shrink: 0;
  opacity: 0.2;
}

.hero {
  background-image: url(../images/hero/ketchup-mob.png);
  background-repeat: no-repeat;
  background-position: top right;
  height: 100%;
}

.social-list {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
  padding-top: 24px;
}

.vegetable1 {
  position: absolute;
  right: 120px;
  top: 304px;
}

.vegetable2 {
  position: absolute;
  right: 260px;
  top: 282px;
}

.vegetable3 {
  position: absolute;
  right: 234px;
  top: 382px;
}

.vegetable4 {
  position: absolute;
  left: 10px;
  top: 352px;
}

.vegetable5 {
  position: absolute;
  left: 100px;
  top: 270px;
}

.vegetable6 {
  position: absolute;
  left: 160px;
  top: 190px;
}

.vegetable7 {
  position: absolute;
  left: 12px;
  top: 308px;
}

.vegetable8 {
  position: absolute;
  left: 128px;
  top: 294px;
}

.hero-buttom {
  color: var(--Genoa, #f3f3f3);

  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  width: 384px;
  height: 66px;
  padding: 26px 116px;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  /* flex-shrink: 0; */
  border-radius: 16px;
  background-color: #bc1a1a33;
}

.hero-ingridient {
  /* width: 384px; */
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
}

.hero-ingridient-title {
  color: var(--Genoa, #f3f3f3);

  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-right: 12px;
}

.hero-ingridient-text {
  color: var(--Genoa, #f3f3f3);

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  flex-wrap: wrap;
}

.hero-ingridient-bord {
  padding-right: 20px;
  padding-left: 20px;
  display: flex;

  height: 88px;
  stroke-width: 1px;
  stroke: var(--Genoa, #f3f3f3);
}

.hero-list-line {
  display: none;
}

@media screen and (max-width: 414px) {
  .hero-img-ketchup {
    right: 0px;
  }

  .hero-title {
    font-size: 24px;
  }

  .hero-text {
    width: 200px;
    font-size: 12px;
  }

  .hero-buttom {
    width: 100%;
    padding: 26px 86px;
  }

  .hero-ingridient {
    /* width: 290px; */
  }

  .hero-ingridient-title {
    font-size: 26px;
  }

  .hero-ingridient-text {
    font-size: 14px;
  }

  .vegetable1 {
    display: none;
  }

  .vegetable2 {
    left: 26px;
  }

  .vegetable3 {
    right: 160px;
  }

  .vegetable4 {
    left: 0px;
  }

  .vegetable5 {
    left: 80px;
  }

  .vegetable6 {
    display: none;
  }

  .vegetable7 {
    top: 320px;
  }

  .vegetable8 {
    left: 120px;
  }
}

@media screen and (min-width: 415px) {
  .vegetable {
    display: none;
    position: absolute;
    right: 120px;
    top: 304px;
  }

  .hero-text {
    padding-bottom: 228px;
  }
}

@media screen and (min-width: 1020px) {
  .hero {
    
    /* padding-top: 100px; */
    background-image: url(../images/hero/ketchup-tab.png);
    background-repeat: no-repeat;
    background-position: top +72px right;
    height: 100%;
  }

  .hero {
    max-width: 4000px;
  }

  .hero-title {
    width: 388px;
    color: var(--Genoa, #f3f3f3);
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .hero-text {
    width: 447px;
    color: var(--Genoa, #f3f3f3);

    /* Subtitle 1 */
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-bottom: 48px;
  }

  .hero-text-coma {
    color: var(--Genoa, #f3f3f3);

    /* Subtitle 1 */
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .hero-text-love {
    color: rgba(188, 26, 26, 0.71);

    /* Subtitle 2 */
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }

  .hero-bord {
    /* width: 0px; */
    height: 153px;
    stroke-width: 1px;
    stroke: var(--Genoa, #f3f3f3);
  }

  .title-bord {
    padding-top: 72px;
  }

  .hero-buttom {
    color: var(--Genoa, #f3f3f3);

    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    width: 302px;
    height: 77px;
    padding: 26px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
  }

  .hero-ingridient {
    /* width: 371px; */
    height: 78px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 48px;
    padding-left: 0;
    padding-right: 0;
  }

  .hero-ingridient-title {
  }

  .hero-ingridient-text {
  }

  .hero-ingridient-bord {
    height: 78px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: var(--Genoa, #f3f3f3);
  }

  .social-list {
    gap: 40px;

    padding-top: 74px;
  }

  .hero-list-line {
    display: flex;
    text-align: center;
  }
  
  .hero-img-line1 {
    position: absolute;
    top: 150px;
    right: 160px;
  }

  .hero-elips-line1 {
    position: absolute;
    top: 150px;
    right: 380px;
    width: 6px;
    height: 6px;
  }

  .hero-text-line1 {
    position: absolute; 
    top: 130px; 
    right: 236px;
  }

  .hero-img-line2 {
    position: absolute;
    top: 330px;
    right: 140px;
  }

  .hero-elips-line2 {
    position: absolute;
    top: 330px;
    right: 380px;
    width: 6px;
    height: 6px;
  }

  .hero-text-line2 {
    position: absolute; 
    top: 310px; 
    right: 260px;
  }

  .hero-img-line3 {
    position: absolute;
    top: 446px;
    right: 200px;
  }

  .hero-elips-line3 {
    position: absolute;
    top: 514px;
    right: 430px;
    width: 6px;
    height: 6px;
  }

  .hero-text-line3 {
    position: absolute; 
    top: 500px; 
    right: 324px;
  }

  .hero-img-line4 {
    position: absolute;
    top: 586px;
    right: 200px;
  }

  .hero-elips-line4 {
    position: absolute;
    top: 686px;
    right: 430px;
    width: 6px;
    height: 6px;
  }

  .hero-text-line4 {
    position: absolute; 
    top: 670px; 
    right: 324px;
  }
  
  
  
  
  
  
  
}
