.wrapper {
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  align-items: center;
}

.product.container {
  /* overflow: hidden;/ */
  padding-top: 100px;
  
}

@media (min-width: 415px) {
  .product {
    /* width: 100%; */
  }
}

/* Основные стили */

/* Слайдер */
.slick-slider {
  min-width: 0;
  
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
  
}
/* Лента слайдов */
.slick-track {
  display: flex;
  /* align-items: flex-start; */
  
  display: block;
  /* flex-direction: column; */
}

/* Слайд */
.slick-slide {
  
}
/* Слайд активный */
.slick-slide.slick-active {
  
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
  
}

/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}

/* Точки */
.slick-dots {
}
.slick-dots li {
}
.slick-dots button {
}

/* Конкретный слайдер */
.slider {
  position: relative;
  width: 100%;
  height: 460px;
  
}

@media (max-width: 767px) {
  .slider {
  }
}

.slider .slick-arrow {
  position: absolute;
  /* top: 100px; */
  /* bottom: 0; */
  /* margin: -30px 0px 0px 0px; */
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
  
}
.slider .slick-arrow.slick-prev {
  left: 50%;
  /* top: 350px; */
  bottom: 0;
  transform: rotate(270deg);
  /* height: 16px;
  width: 16px; */
  /* bottom: 10px; */
  background: url('./images/hero/sl-arrow_l.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next {
  
  right: 50%;
  top: -60px;
  transform: rotate(270deg);
  background: url('./images/hero/sl-arrow_r.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .slick-dots li {
  list-style: none;
}
.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #fff;
}

.slider__item {
}
.slider__item img {
}
.slider__item.slick-center {
}

.slider-img {
  border-radius: 50%;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
}

.slider-title {
  color: var(--Genoa, #f3f3f3);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 16px;
}

.filter1 {
  padding-top: 80px;
}

.filter2 {
  padding-bottom: 80px;
}

.slider-buttom {
  color: var(--Genoa, #f3f3f3);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  width: 108px;
  height: 29px;
  padding: 9px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--Button-dark-red, rgba(188, 26, 26, 0.2));
}
